<!--NEW PASSWORD-->
<c-modal alignment="center" data-testid="new-password-modal" [visible]="isVisible()" (visibleChange)="handleChange($event)" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>Reset Password</h5>
        <button (click)="hideFeedback()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="d-flex justify-content-center">
<!--            <fa-icon [icon]="faLock" size="2x" animation="fade" style="&#45;&#45;fa-animation-iteration-count: 3;" class="faLock"></fa-icon>-->
        </div>
        <form [formGroup]="form" cForm>
            <p class="text-body-secondary">Create a new password for your account.</p>

            <!-- PASSWORD -->
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input #password [type]="show3 ? 'txt' : 'password'" [valid]="passwordValid" cFormControl data-testid="newPass"
                       formControlName="newPass" id="pass3" matInput
                       placeholder="Password"
                       showHideInput/>
                <button cButton type="button" variant="outline" data-testid="new-pass-toggle" (click)="togglePass('pass3')" class="toggle-button-focus">
                    {{ show3 ? '👁️' : '🔒' }}
                </button>
            </c-input-group>
            <control-errors controlName="newPass" id="new-pass-errors">
                <ng-template let-errors>
                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Required
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.maxlength">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Max 20 characters
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.minlength">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Min 10 characters
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.invalidPassword">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Invalid
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.requiresUppercase">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Uppercase character
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.requiresLowercase">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Lowercase character
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.requiresNumeric">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Numeric character
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.requiresSpecial">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Special character
                        </div>
                    </ng-container>
                </ng-template>
            </control-errors>

            <!-- REPEATED PASSWORD -->
            <c-input-group class="mb-4">
                <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input #repeatPassword [valid]="repeatPassValid()" formControlName="repeatNewPass" cFormControl placeholder="Repeat password"
                       data-testid="repeatNewPass" id="pass4" [type]="show4 ? 'txt' : 'password'"/>
                <button cButton type="button" variant="outline" (click)="togglePass('pass4')" class="toggle-button-focus">
                    {{ show4 ? '👁️' : '🔒' }}
                </button>
            </c-input-group>
            <control-errors controlName="repeatNewPass" id="new-repeat-pass-errors">
                <ng-template let-errors>
                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Required
                        </div>
                    </ng-container>
                    <ng-container *ngIf="errors.invalid">
                        <div>
                            <span class="control-error-mark">❗</span>
                            Passwords don't match
                        </div>
                    </ng-container>
                </ng-template>
            </control-errors>
        </form>

        <c-alert [visible]="getStatus() === 'Success'" color="success">
            <h4 cAlertHeading>Password Changed</h4>
            <hr />
            <p>You can now log in with your new password.</p>
        </c-alert>
        <c-alert [visible]="getStatus() === 'Error'" color="danger">
            <h4 cAlertHeading>Submission Error</h4>
            <hr />
            <p>Please try again later.</p>
        </c-alert>

    </c-modal-body>
    <c-modal-footer>
        <div class="d-grid">
            <button cButton [disabled]="form.invalid || getStatus() != 'Idle'" (click)="onSubmit()" color="primary" data-testid="submit-new-pass" id="submit-new-pass">Submit</button>
        </div>
    </c-modal-footer>
</c-modal>
