<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form [formGroup]="register">
                            <h1>Register</h1>
                            <p class="text-body-secondary">Create your account</p>

                            <!-- USERNAME -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                  <svg cIcon name="cilUser"></svg>
                                </span>
                                <input formControlName="username" cFormControl placeholder="Username" />
                            </c-input-group>
                            <control-errors controlName="username" id="username-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required">
                                        Enter a username
                                    </ng-container>
                                    <ng-container *ngIf="errors.pattern">
                                        Must contain only letters or numbers.
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        Max length 30 characters.
                                    </ng-container>
                                    <ng-container *ngIf="errors.minlength">
                                        Min length 5 characters.
                                    </ng-container>
                                    <ng-container *ngIf="errors.taken">
                                        Username taken, select another.
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- EMAIL -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>&#64;</span>
                                <input formControlName="email" cFormControl placeholder="Email" />
                            </c-input-group>

                            <!-- PASSWORD -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                  <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input formControlName="password" cFormControl placeholder="Password" type="password" />
                            </c-input-group>

                            <!-- REPEATED PASSWORD -->
                            <c-input-group class="mb-4">
                                <span cInputGroupText>
                                  <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input formControlName="repeatedPassword" cFormControl placeholder="Repeat password" type="password" />
                            </c-input-group>

                            <!-- SUBMIT -->
                            <div class="d-grid">
                                <button cButton (click)="onSubmit()" color="success">Create Account</button>
                            </div>
                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>
