<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">

            <c-modal alignment="center" [ngSwitch]="status" data-testid="modal" [visible]="visible" (visibleChange)="handleChange($event)">
                <c-modal-header>
                    <h5 *ngSwitchCase="'Idle'" cModalTitle>Submission Error</h5>
                    <h5 *ngSwitchCase="'Success'" cModalTitle>Thank You</h5>
                    <h5 *ngSwitchCase="'Error'" cModalTitle>Submission Error</h5>
                    <button (click)="toggleModalVisibility()" cButtonClose></button>
                </c-modal-header>
                <c-modal-body *ngSwitchCase="'Idle'">Please try again later!</c-modal-body>
                <c-modal-body *ngSwitchCase="'Success'">Registration successful!</c-modal-body>
                <c-modal-body *ngSwitchCase="'Error'">Please try again later!</c-modal-body>
                <c-modal-footer>
                    <button (click)="toggleModalVisibility()" cButton color="secondary">
                        Close
                    </button>
                    <button routerLink="login" *ngSwitchCase="'Success'" cButton color="primary">Login</button>
                    <button routerLink="landing" *ngSwitchCase="'Idle'" cButton color="primary">Home</button>
                    <button routerLink="landing" *ngSwitchCase="'Error'" cButton color="primary">Home</button>
                </c-modal-footer>
            </c-modal>

            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form [formGroup]="register">
                            <h1>Register Now</h1>
                            <p class="text-body-secondary">Already have an account?
                                <a routerLink="/login" class="pe-auto">Login here</a>
                            </p>
                            <!-- USERNAME -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                  <svg cIcon name="cilUser"></svg>
                                </span>
                                <input #username [valid]="usernameValid" formControlName="username" cFormControl placeholder="Username" data-testid="username" id="username" />
                            </c-input-group>
                            <control-errors controlName="username" id="username-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter a username
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.pattern">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Must contain only letters or numbers
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max length 30 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.minlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Min length 5 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.taken">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Username taken, select another
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.serverError">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Server error, try again later
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- EMAIL -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>&#64;</span>
                                <input #email [valid]="emailValid" formControlName="email" cFormControl placeholder="Email" data-testid="email" id="email"/>
                            </c-input-group>
                            <control-errors controlName="email" id="email-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter an email address
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.email">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Must be a valid email address
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max length 40 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.serverError">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Server error, try again later
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- PASSWORD -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                  <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input #password [valid]="passwordValid" formControlName="password" cFormControl placeholder="Password" data-testid="password" matInput showHideInput id="pass1"
                                       [type]="show1 ? 'txt' : 'password'"/>
                                <button cButton type="button" variant="outline" data-testid="pass-toggle" (click)="togglePass('pass1')" class="toggle-button-focus">
                                    {{ show1 ? '👁️' : '🔒' }}
                                </button>
                            </c-input-group>
                            <control-errors controlName="password" id="password-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter a password
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max length 20 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.minlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Min length 10 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.invalidPassword">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Invalid password
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresUppercase">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Requires an uppercase character
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresLowercase">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Requires a lowercase character
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresNumeric">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Requires a numeric character
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresSpecial">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Requires a special character
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- REPEATED PASSWORD -->
                            <c-input-group class="mb-4">
                                <span cInputGroupText>
                                  <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input #repeatPassword [valid]="repeatPasswordValid" formControlName="repeatPassword" cFormControl placeholder="Repeat password" data-testid="repeatPassword" id="pass2"
                                    [type]="show2 ? 'txt' : 'password'"/>
                                <button cButton type="button" variant="outline" (click)="togglePass('pass2')" class="toggle-button-focus">
                                    {{ show2 ? '👁️' : '🔒' }}
                                </button>
                            </c-input-group>
                            <control-errors controlName="repeatPassword" id="repeatPassword-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter password again
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max length 20 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.minlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Min length 10 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.invalid">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Repeated password doesn't equal password
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- SUBMIT -->
                            <div class="d-grid">
                                <button cButton [disabled]="register.invalid" (click)="onSubmit()" color="primary" data-testid="submit" >Create Account</button>
                            </div>

                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>
