$border-color: rgb(206, 212, 218);

.visibility-button {
  border-color: $border-color;
}

.visibility-button:hover {
  background-color: lightgray;
}

.btn-outline-primary:hover {

}

body.recaptcha .grecaptcha-badge {
  visibility: visible;
}



