<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">

            <c-modal (visibleChange)="handleChange($event)" [ngSwitch]="status" [visible]="modalVisible" alignment="center" data-testid="modal">
                <c-modal-header>
                    <h5 *ngSwitchCase="'Idle'" cModalTitle>Submission Error</h5>
                    <h5 *ngSwitchCase="'Success'" cModalTitle>Thank You</h5>
                    <h5 *ngSwitchCase="'Error'" cModalTitle>Submission Error</h5>
                    <button (click)="toggleModalVisibility()" cButtonClose></button>
                </c-modal-header>

                <c-modal-body>
                    <div class="d-flex justify-content-center">
                        <fa-icon *ngSwitchCase="'Idle'" [icon]="faCircleExclamation" class="faCircleExclamation" size="2x"></fa-icon>
                        <fa-icon *ngSwitchCase="'Success'" [icon]="faCircleCheck" class="faCircleCheck" size="2x"></fa-icon>
                        <fa-icon *ngSwitchCase="'Error'" [icon]="faCircleExclamation" class="faCircleExclamation" size="2x"></fa-icon>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p *ngSwitchCase="'Idle'" class="text-body-secondary mt-2 mb-0">Internal error, please try again later</p>
                        <p *ngSwitchCase="'Success'" class="text-body-secondary mt-2 mb-0">Registration successful</p>
                        <p *ngSwitchCase="'Error'" class="text-body-secondary mt-2 mb-0">Internal error, please try again later</p>
                    </div>
                </c-modal-body>
                <c-modal-footer>
                    <button (click)="toggleModalVisibility()" cButton color="secondary">
                        Close
                    </button>
                    <button *ngSwitchCase="'Success'" cButton color="primary" routerLink="/login">Login</button>
                    <button *ngSwitchCase="'Idle'" cButton color="primary" routerLink="/landing">Home</button>
                    <button *ngSwitchCase="'Error'" cButton color="primary" routerLink="/landing">Home</button>
                </c-modal-footer>
            </c-modal>

            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form [formGroup]="register">
                            <h1>Register Now</h1>
                            <p class="text-body-secondary">Already have an account?
                                <a class="pe-auto" routerLink="/login">Login here</a>
                            </p>
                            <!-- USERNAME START -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilUser"></svg>
                                </span>
                                <input #username [valid]="usernameValid" cFormControl data-testid="username" formControlName="username"
                                       id="username" placeholder="Username" />
                            </c-input-group>
                            <control-errors controlName="username" id="username-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter a username
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.pattern">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Must contain only letters or numbers
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max length 30 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.minlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Min length 5 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.taken">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Username taken, select another
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.serverError">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Server error, try again later
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>
                            <!-- USRENAME END -->

                            <!-- EMAIL -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>&#64;</span>
                                <input #email [valid]="emailValid" cFormControl data-testid="email" formControlName="email"
                                       id="email" placeholder="Email" />
                            </c-input-group>
                            <control-errors controlName="email" id="email-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter an email address
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.email">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Must be a valid email address
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.taken">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Email address already registered
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max length 40 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.serverError">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Server error, try again later
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- PASSWORD -->
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input #password [type]="show1 ? 'txt' : 'password'" [valid]="passwordValid" cFormControl data-testid="password"
                                       formControlName="password" id="pass1" matInput placeholder="Password"
                                       showHideInput />
                                <button (click)="togglePass('pass1')" cButton class="toggle-button-focus" data-testid="pass-toggle" type="button" variant="outline">
                                    {{ show1 ? '👁️' : '🔒' }}
                                </button>
                            </c-input-group>
                            <control-errors controlName="password" id="password-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Enter a password
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.maxlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Max 20 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.minlength">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Min 10 characters
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.invalidPassword">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Invalid
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresUppercase">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Uppercase character
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresLowercase">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Lowercase character
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresNumeric">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Numeric character
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.requiresSpecial">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Special character
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- REPEATED PASSWORD -->
                            <c-input-group class="mb-4">
                                <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input #repeatPassword [type]="show2 ? 'txt' : 'password'" [valid]="repeatPasswordValid" cFormControl
                                       data-testid="repeatPassword" formControlName="repeatPassword" id="pass2"
                                       placeholder="Repeat password" />
                                <button (click)="togglePass('pass2')" cButton class="toggle-button-focus" type="button" variant="outline">
                                    {{ show2 ? '👁️' : '🔒' }}
                                </button>
                            </c-input-group>
                            <control-errors controlName="repeatPassword" id="repeatPassword-errors">
                                <ng-template let-errors>
                                    <ng-container *ngIf="errors.required" data-testid="errors.required">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Repeat password
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="errors.invalid">
                                        <div>
                                            <span class="control-error-mark">❗</span>
                                            Passwords don't match
                                        </div>
                                    </ng-container>
                                </ng-template>
                            </control-errors>

                            <!-- SUBMIT -->
                            <div class="d-grid">
                                <button (click)="onSubmit()" [disabled]="register.invalid" cButton color="primary" data-testid="submit" id="submit-button">Create Account</button>
                            </div>

                        </form>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>
