$border-color: rgb(206, 212, 218);

.visibility-button {
  border-color: $border-color;
}

.visibility-button:hover {
  background-color: lightgray;
}

.toggle-button-focus:focus {
  box-shadow: none !important;
}

body.recaptcha .grecaptcha-badge {
  visibility: visible;
}




