<div id="page-container">
    <mgm-header></mgm-header>

    <!--   Carousel start -->
    <c-carousel #animate id="carousel">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of landingSlides" id="header-carousel">
                <img
                    alt="{{slide.line1}}"
                    class="d-block w-100"
                    id="header-carousel-img"
                    loading="eager"
                    src="{{slide.src}}"
                >
                <c-carousel-caption>
                    <div style="width:100%;position:absolute;top:50%;transform: translate(0,-50%);">
                        <h1 class="display-6 text-light animated slideInDown">{{ slide.line1 }}</h1>
                        <p class="display-8">{{ slide.line2 }}</p>
                    </div>
                </c-carousel-caption>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
    <!-- Carousel end -->

    <!-- Facts start -->
    <div class="container-fluid facts py-6 pt-lg-0">
        <div class="container py-6 pt-lg-0">
            <div class="row gx-0">
                <div #animate class="col-lg-4" id="fact1">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!-- <i class="fa fa-car text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Professionally Trained</h5>
                                <span class="index-font-color">Certified Landscape Horticulturalists</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div #animate class="col-lg-4" id="fact2">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!-- <i class="fa fa-users text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Fully Insured</h5>
                                <span class="index-font-color">Full liability insurance</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div #animate class="col-lg-4" id="fact3">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!--  <i class="fa fa-file-alt text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Quality Workmanship</h5>
                                <span class="index-font-color">Service with integrity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Facts end-->

    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div #animate class="col-lg-6" id="about1">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <div style="min-height: 450px;">
                            <iframe allowfullscreen=""
                                    aria-hidden="false"
                                    class="position-relative w-100 h-100" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115288.4172787173!2d174.89674264358936!3d-36.92204129439933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4b65a6a3918b%3A0x5704a28d482bdf5e!2sEast%20Auckland%2C%20Golflands%2C%20Auckland%202013!5e0!3m2!1sen!2snz!4v1689739846967!5m2!1sen!2snz"
                                    style="min-height: 450px; border:0;" tabindex="0">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div #animate class="col-lg-6" id="about2">
                    <div class="h-100">
                        <h5 class="index-primary-color text-uppercase mb-2">About Us</h5>
                        <h1 class="mb-4 index-heading-color">High quality services at a competitive price</h1>
                        <p class="index-font-color">We service all suburbs in and around south-east Auckland. We're so confident you'll be happy with
                            our services that all work done comes with a 100% customer satisfaction guarantee. </p>
                        <p class="mb-4 index-font-color">For regular services if you have a current price we can probably beat it!</p>
                        <div class="row g-2 mb-4 pb-2">
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Free quotes
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Expert advice
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Fully managed
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Pet friendly
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <a aria-hidden="true" class="btn py-3 px-5 index-button" href="#contact">Contact us now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Services start -->
    <div class="container-xxl my-6 py-6 mb-5" id="services">
        <div #animate class="container" id="regular-services">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h5 class="index-primary-color text-uppercase mb-2">Regular Services</h5>
                <h1 class="mb-4 index-heading-color">General Garden Maintenance</h1>
            </div>

            <div class="row g-4 justify-content-center" id="service-row-1">
                <div #animate class="col-lg-4 col-md-6" id="service1">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Lawn mowing</h5>
                            <p class="index-font-color">A professional service that includes trimming edges and sweeping adjacent paths to keep your
                                property looking tidy.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Recommended every 2 weeks
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img alt="" class="img-fluid" src="/assets/landing/image/mower.jpg">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" fragment="contact" routerLink="/index">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #animate class="col-lg-4 col-md-6" id="service2">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Hedge Trimming</h5>
                            <p class="index-font-color">A well maintained hedge has a full and neat appearance. We offer a range of hedge trimming
                                services to keep your hedges looking smart.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Driveway access required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img alt="" class="img-fluid" src="assets/landing/image/hedge.jpg">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" fragment="contact" routerLink="/index">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #animate class="col-lg-4 col-md-6" id="service3">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Weeding</h5>
                            <p class="index-font-color">Whether it's weed matting, spraying or removal we can get rid of pesky weeds and prevent them
                                from returning.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Safe for pets
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img alt="" class="img-fluid" src="/assets/landing/image/rake.jpg">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" fragment="contact" routerLink="/index">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div #animate class="row g-4 justify-content-center" id="service-row-2">
                <div class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Unavailable</div>
                            <h5 class="mb-3 index-heading-color">Gutter Cleaning</h5>
                            <p class="index-font-color">Clogged gutters are unsightly and can cause water damage. We can get your gutters clean and
                                functioning to ensure water drains readily from your roof.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Roof access required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img alt="" class="img-fluid" src="/assets/landing/image/gutter.jpg">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2 disabled" fragment="contact" routerLink="/index">
                                    Coming soon</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #animate class="col-lg-4 col-md-6" id="service5">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Unavailable</div>
                            <h5 class="mb-3 index-heading-color">Rubbish Removal</h5>
                            <p class="index-font-color">We remove all types of rubbish from compost and foliage to building materials and everything
                                in between.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Non-hazardous items only
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img alt="" class="img-fluid" src="/assets/landing/image/gardenwaste.jpg">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2 disabled" fragment="contact" routerLink="/index">
                                    Coming soon
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #animate class="col-lg-4 col-md-6" id="service6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Water Blasting</h5>
                            <p class="index-font-color">Water blasting removes moss and mould leaving surfaces looking clean and new again. We also
                                provide soft washing services.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Hose outlet required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img alt="" class="img-fluid" src="/assets/landing/image/gardenwaste.jpg">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" fragment="contact" routerLink="/index">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services end -->

            <!-- Contact start -->
            <c-modal #modal alignment="center" [ngSwitch]="status" data-testid="modal" [visible]="modalVisible" (visibleChange)="handleChange($event)">
                <c-modal-header>
                    <h5 *ngSwitchCase="'Idle'" cModalTitle>Submission Error</h5>
                    <h5 *ngSwitchCase="'Success'" cModalTitle>Thank You</h5>
                    <h5 *ngSwitchCase="'Error'" cModalTitle>Submission Error</h5>
                    <button (click)="toggleModalVisibility()" cButtonClose></button>
                </c-modal-header>

                <c-modal-body>
                    <div class="d-flex justify-content-center">
                        <fa-icon *ngSwitchCase="'Idle'" [icon]="faCircleExclamation" size="2x" class="faCircleExclamation"></fa-icon>
                        <fa-icon *ngSwitchCase="'Success'" [icon]="faCircleCheck" size="2x" class="faCircleCheck"></fa-icon>
                        <fa-icon *ngSwitchCase="'Error'" [icon]="faCircleExclamation" size="2x" class="faCircleExclamation"></fa-icon>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="text-body-secondary mt-2 mb-0" *ngSwitchCase="'Idle'">Internal error, please try again later</p>
                        <p class="text-body-secondary mt-2 mb-0" *ngSwitchCase="'Success'">Your message has been sent</p>
                        <p class="text-body-secondary mt-2 mb-0" *ngSwitchCase="'Error'">Internal error, please try again later</p>
                    </div>
                </c-modal-body>
                <c-modal-footer>
                    <button (click)="toggleModalVisibility()" cButton color="primary">
                        Close
                    </button>
                </c-modal-footer>
            </c-modal>
            <div #animate class="row justify-content-center" id="contact">
                <div class="col-lg-8 mb-0">
                    <div class="bg-primary text-center p-5">
                        <h1 class="mb-4">Contact Us Now</h1>
                        <form [formGroup]="_contactForm"
                              id="contact-form">
                            <div class="row g-3">

                                <!-- first_name	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input #firstName [valid]="firstNameValid" cFormControl class="form-control border-0" data-testid="first_name"
                                               formControlName="first_name" id="first_name" placeholder="First Name" type="text">
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <control-errors controlName="first_name" data-testid="first-name-errors">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter first name
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.pattern">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Letters only
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 30
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.minlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Min length 1
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>

                                <!-- last_name	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input #lastName [valid]="lastNameValid" cFormControl class="form-control border-0" data-testid="last_name"
                                               formControlName="last_name" id="last_name" placeholder="First Name" type="text">
                                        <label for="last_name">Last Name</label>
                                    </div>
                                    <control-errors controlName="last_name">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter last name
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.pattern">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Letters only
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 30
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.minlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Min length 1
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>

                                <!-- email	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input #email [valid]="emailValid" cFormControl class="form-control border-0" data-testid="email" formControlName="email"
                                               id="email" placeholder="Email" type="email">
                                        <label for="email">Email</label>
                                    </div>
                                    <control-errors controlName="email">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter email address
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 50
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.email">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Invalid email
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>

                                <!-- phone	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input #phone [valid]="phoneValid" cFormControl class="form-control border-0" data-testid="phone" formControlName="phone" id="phone"
                                               placeholder="Phone" type="tel">
                                        <label for="phone">Phone</label>
                                    </div>
                                    <control-errors controlName="phone">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter contact number
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.minlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Min length 1
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 30
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.pattern">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Numbers only
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>

                                <!-- address_line1	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input #addressLine1 [valid]="addressLine1Valid" cFormControl class="form-control border-0" data-testid="address_line1"
                                               formControlName="address_line1" id="address_line1" name="phone" placeholder="Address Line 1"
                                               type="text">
                                        <label for="address_line1">Number and road</label>
                                    </div>
                                    <control-errors controlName="address_line1">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter address line 1
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.minlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Min length 1
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 100
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.pattern">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Letters, numbers and spaces only
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>

                                <!-- address_line2	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input #addressLine2 [valid]="addressLine2Valid" cFormControl class="form-control border-0" data-testid="address_line2"
                                               formControlName="address_line2" id="address_line2" name="phone" placeholder="Address Line 2"
                                               type="text">
                                        <label for="address_line2">Suburb</label>
                                    </div>
                                    <control-errors controlName="address_line2">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter suburb
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.minlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Min length 1
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 100
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.pattern">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Letters, numbers and spaces only
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input cFormControl class="form-control border-0" disabled id="city" placeholder="City" type="text">
                                        <label for="city">Auckland</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input cFormControl class="form-control border-0" disabled id="country" placeholder="Country" type="text">
                                        <label for="country">New Zealand</label>
                                    </div>
                                </div>

                                <!-- message	-->
                                <div class="col-12">
                                    <div class="form-floating">
                      						<textarea #message cFormControl class="form-control border-0" [valid]="messageValid"
                                                      data-testid="message" formControlName="message" id="message" placeholder="Leave a message here">
											</textarea>
                                        <label for="message">Message</label>
                                    </div>
                                    <control-errors controlName="message">
                                        <ng-template let-errors>
                                            <ng-container *ngIf="errors.required" data-testid="errors.required">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Enter a message
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.minlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Min length 1
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.maxlength">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Max length 1000
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="errors.pattern">
                                                <div>
                                                    <span class="control-error-mark">❗</span>
                                                    Letters, numbers and spaces only
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                    </control-errors>
                                </div>
                            </div>

                            <br>
                            <div class="d-flex justify-content-center">
                                <div class="col-sm-6">
                                    <button (click)="submitForm()" [disabled]="_contactForm.invalid" class="btn btn-dark w-100 py-3" data-testid="submit-button"
                                            id="submit-button"
                                            type="submit">Submit
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact end -->

    <!-- Why Choose Us start-->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div #animate id="values-heading">
                        <h5 class="index-primary-color text-uppercase mb-2">Why Choose Us</h5>
                        <h1 class="mb-4 index-heading-color">Old School Values</h1>
                        <p class="mb-5 index-font-color">We value integrity and set high standards for ourselves and our
                            suppliers. We utilise our experience from the public and private sector to do a great job every
                            time.
                        </p>
                    </div>
                    <div class="row gy-5 gx-4">
                        <div #animate class="col-sm-6" id="values1">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">All work is guaranteed</h5>
                            </div>
                            <span class="index-font-color">Do it right the first time, every time</span>
                        </div>
                        <div #animate class="col-sm-6" id="values2">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Extensive knowledge</h5>
                            </div>
                            <span class="index-font-color">Industry certified Landscaping and Horticulture specialists</span>
                        </div>
                        <div #animate class="col-sm-6" id="values3">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Environmentally friendly</h5>
                            </div>
                            <span class="index-font-color">Non-toxic weed control keeps pets safe</span>
                        </div>
                        <div #animate class="col-sm-6" id="values4">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Attention to detail</h5>
                            </div>
                            <span class="index-font-color">We take pride in exceeding our customers expectations</span>
                        </div>
                    </div>
                </div>
                <div #animate class="col-lg-6" id="values5">
                    <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                        <img alt="" class="position-absolute w-100 h-100" src="/assets/landing/image/chipper.jpg"
                             style="object-fit: cover;">
                        <img alt="" class="position-absolute top-0 end-0 bg-white ps-3 pb-3"
                             id="guarantee" src="/assets/landing/image/guarantee.png" style="width: 200px; height: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us end-->

    <!-- Testimonial start -->
    <div class="container-xxl py-6">
        <div class="container">
            <span #animate class="mb-4 text-center mx-auto mb-5" id="testimonial1" style="max-width: 500px;">
                <h5 class="index-primary-color text-uppercase mb-2">Testimonials</h5>
                <h1 class="index-heading-color">What Our Clients Say</h1>
            </span>
            <div #animate class="row justify-content-center" id="testimonial2">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">

                    <c-carousel [animate]="false" [dark]="true" [interval]="2500" transition="crossfade">
                        <c-carousel-indicators></c-carousel-indicators>
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of testimonialSlides; index as i;" class="text-center">
                                <img [src]="slide.src"
                                     alt="{{slide.title}}"
                                     class=" align-self-start img-fluid mb-2"
                                     style="height: 1.0rem; width: auto; display: inline;" />
                                <p class="fs-4" style="display: inline;">&nbsp;{{ slide.title }}</p>
                                <hr class="w-25 mx-auto">
                                <h5>{{ slide.name }}</h5>
                                <span>{{ slide.location }}</span>
                                <br>
                                <br>
                                <br>
                            </c-carousel-item>

                        </c-carousel-inner>
                    </c-carousel>

                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial end -->
    <br><br><br><br><br><br><br>
    <mgm-footer></mgm-footer>
</div>
