<div id="page-container">
    <mgm-header></mgm-header>

    <!--   Carousel start -->
    <c-carousel #anmtn id="carousel">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of landingSlides" id="header-carousel">
                    <img
                        alt="{{slide.line1}}"
                        class="d-block w-100"
                        src="{{slide.src}}"
                        loading="eager"
                        id="header-carousel-img"
                    >
                <c-carousel-caption>
                    <div style="width:100%;position:absolute;top:50%;transform: translate(0,-50%);">
                        <h1 class="display-6 text-light animated slideInDown">{{ slide.line1 }}</h1>
                        <p class="display-8">{{ slide.line2 }}</p>
                    </div>
                </c-carousel-caption>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
    <!-- Carousel end -->

    <!-- Facts start -->
    <div class="container-fluid facts py-6 pt-lg-0">
        <div class="container py-6 pt-lg-0">
            <div class="row gx-0">
                <div #anmtn id="fact1" class="col-lg-4">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!-- <i class="fa fa-car text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Professionally Trained</h5>
                                <span class="index-font-color">Certified Landscape Horticulturalists</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div #anmtn id="fact2" class="col-lg-4">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!-- <i class="fa fa-users text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Fully Insured</h5>
                                <span class="index-font-color">Full liability insurance</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div #anmtn id="fact3" class="col-lg-4">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!--  <i class="fa fa-file-alt text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Quality Workmanship</h5>
                                <span class="index-font-color">Service with integrity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Facts end-->

    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div #anmtn id="about1" class="col-lg-6">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <div style="min-height: 450px;">
                            <iframe class="position-relative w-100 h-100"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115288.4172787173!2d174.89674264358936!3d-36.92204129439933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4b65a6a3918b%3A0x5704a28d482bdf5e!2sEast%20Auckland%2C%20Golflands%2C%20Auckland%202013!5e0!3m2!1sen!2snz!4v1689739846967!5m2!1sen!2snz"
                                    frameborder="0" style="min-height: 450px; border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div #anmtn id="about2" class="col-lg-6">
                    <div class="h-100">
                        <h5 class="index-primary-color text-uppercase mb-2">About Us</h5>
                        <h1 class="mb-4 index-heading-color">High quality services at a competitive price</h1>
                        <p class="index-font-color">We service all suburbs in and around south-east Auckland. We're so confident you'll be happy with
                            our services that all work done comes with a 100% customer satisfaction guarantee. </p>
                        <p class="mb-4 index-font-color">For regular services if you have a current price we can probably beat it!</p>
                        <div class="row g-2 mb-4 pb-2">
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Free quotes
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Expert advice
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Fully managed
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Pet friendly
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <a class="btn py-3 px-5 index-button" aria-hidden="true" href="#contact">Contact us now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Services start -->
    <div class="container-xxl my-6 py-6 mb-5" id="services">
        <div #anmtn id="regular-services" class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h5 class="index-primary-color text-uppercase mb-2">Regular Services</h5>
                <h1 class="mb-4 index-heading-color">General Garden Maintenance</h1>
            </div>

            <div class="row g-4 justify-content-center" id="service-row-1">
                <div #anmtn id="service1" class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Lawn mowing</h5>
                            <p class="index-font-color">A professional service that includes trimming edges and sweeping adjacent paths to keep your
                                property looking tidy.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Recommended every 2 weeks
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/mower.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #anmtn id="service2" class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Hedge Trimming</h5>
                            <p class="index-font-color">A well maintained hedge has a full and neat appearance. We offer a range of hedge trimming
                                services to keep your hedges looking smart.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Driveway access required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="assets/index/image/hedge.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #anmtn id="service3" class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Weeding</h5>
                            <p class="index-font-color">Whether it's weed matting, spraying or removal we can get rid of pesky weeds and prevent them
                                from returning.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Safe for pets
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/rake.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div #anmtn id="service-row-2" class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Unavailable</div>
                            <h5 class="mb-3 index-heading-color">Gutter Cleaning</h5>
                            <p class="index-font-color">Clogged gutters are unsightly and can cause water damage. We can get your gutters clean and
                                functioning to ensure water drains readily from your roof.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Roof access required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/gutter.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2 disabled" routerLink="/index" fragment="contact">
                                    Coming soon</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #anmtn id="service5" class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Unavailable</div>
                            <h5 class="mb-3 index-heading-color">Rubbish Removal</h5>
                            <p class="index-font-color">We remove all types of rubbish from compost and foliage to building materials and everything
                                in between.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Non-hazardous items only
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/gardenwaste.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2 disabled" routerLink="/index" fragment="contact">
                                    Coming soon
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div #anmtn id="service6" class="col-lg-4 col-md-6">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Water Blasting</h5>
                            <p class="index-font-color">Water blasting removes moss and mould leaving surfaces looking clean and new again. We also
                                provide soft washing services.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Hose outlet required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/gardenwaste.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services end -->

            <!-- Contact start -->
            <div #anmtn id="contact" class="row justify-content-center">
                <div class="col-lg-8 mb-0">
                    <div class="bg-primary text-center p-5">
                        <h1 class="mb-4">Contact Us Now</h1>
                        <form class="needs-validation" id="contact-form"
                              [formGroup]="contactForm">
                            <div class="row g-3">

                                <!-- first_name	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" id="first_name" placeholder="First Name" maxlength="50" required
                                               formControlName="first_name"
                                               [ngClass]="first_name?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="first_name">First Name</label>
                                        <div class="custom-invalid-feedback"
                                             *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.untouched) && submitted">
                                            enter first name
                                        </div>
                                    </div>
                                </div>

                                <!-- last_name	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" id="last_name" placeholder="First Name" maxlength="50"
                                               formControlName="last_name"
                                               [ngClass]="last_name?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="last_name">Last Name</label>
                                        <div class="custom-invalid-feedback" *ngIf="last_name?.invalid && (last_name?.dirty || last_name?.untouched) && submitted">enter
                                            enter last name
                                        </div>
                                    </div>
                                </div>

                                <!-- email	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" placeholder="Email" id="email" maxlength="50"
                                               formControlName="email"
                                               [ngClass]="email?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="email">Email</label>
                                        <div class="custom-invalid-feedback" *ngIf="email?.invalid && (email?.dirty || email?.untouched) && submitted">enter
                                            enter email
                                        </div>
                                    </div>
                                </div>

                                <!-- phone	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="tel" placeholder="Phone" id="phone" maxlength="50"
                                               formControlName="phone"
                                               [ngClass]="phone?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="phone">Phone</label>
                                        <div class="custom-invalid-feedback" *ngIf="phone?.invalid && (phone?.dirty || phone?.untouched) && submitted">enter phone
                                            number
                                        </div>
                                    </div>
                                </div>

                                <!-- address_line1	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" placeholder="Address Line 1" id="address_line1" name="phone"
                                               maxlength="60"
                                               formControlName="address_line1"
                                               [ngClass]="address_line1?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="address_line1">Number and road</label>
                                        <div class="custom-invalid-feedback" *ngIf="address_line1?.invalid && (address_line1?.dirty || address_line1?.untouched) && submitted">
                                            enter number and road
                                        </div>
                                    </div>
                                </div>

                                <!-- address_line2	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" placeholder="Address Line 2" id="address_line2" name="phone"
                                               maxlength="60"
                                               formControlName="address_line2"
                                               [ngClass]="address_line2?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="address_line2">Suburb</label>
                                        <div class="custom-invalid-feedback" *ngIf="address_line2?.invalid && (address_line2?.dirty || address_line2?.untouched) && submitted">
                                            enter suburb
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="city"
                                               placeholder="City" disabled>
                                        <label for="city">Auckland</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="country"
                                               placeholder="Country"
                                               disabled>
                                        <label for="country">New Zealand</label>
                                    </div>
                                </div>

                                <!-- message	-->
                                <div class="col-12">
                                    <div class="form-floating">
                      						<textarea class="form-control border-0" placeholder="Leave a message here"
                                                      id="message" maxlength="400"
                                                      formControlName="message"
                                                      [ngClass]="message?.invalid && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
											</textarea>
                                        <label for="message">Message</label>
                                        <div class="custom-invalid-feedback" *ngIf="message?.invalid && (message?.dirty || message?.untouched) && submitted">enter a
                                            message
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit" id="submit-button"
                                            (click)="submitForm()">Submit
                                    </button>
                                </div>

                                <div class="d-flex justify-content-center" style="transform:scale(0.8)">
                                    <re-captcha (resolved)="submitCaptcha($event)" #recaptcha [siteKey]="siteKey"></re-captcha>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact end -->

    <!-- Why Choose Us start-->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div #anmtn id="values-heading">
                        <h5 class="index-primary-color text-uppercase mb-2">Why Choose Us</h5>
                        <h1 class="mb-4 index-heading-color">Old School Values</h1>
                        <p class="mb-5 index-font-color">We value integrity and set high standards for ourselves and our
                            suppliers. We utilise our experience from the public and private sector to do a great job every
                            time.
                        </p>
                    </div>
                    <div class="row gy-5 gx-4">
                        <div #anmtn id="values1" class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">All work is guaranteed</h5>
                            </div>
                            <span class="index-font-color">Do it right the first time, every time</span>
                        </div>
                        <div #anmtn id="values2" class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Extensive knowledge</h5>
                            </div>
                            <span class="index-font-color">Industry certified Landscaping and Horticulture specialists</span>
                        </div>
                        <div #anmtn id="values3" class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Environmentally friendly</h5>
                            </div>
                            <span class="index-font-color">Non-toxic weed control keeps pets safe</span>
                        </div>
                        <div #anmtn id="values4" class="col-sm-6">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Attention to detail</h5>
                            </div>
                            <span class="index-font-color">We take pride in exceeding our customers expectations</span>
                        </div>
                    </div>
                </div>
                <div #anmtn id="values5" class="col-lg-6">
                    <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="/assets/index/image/chipper.jpg" alt=""
                             style="object-fit: cover;">
                        <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="/assets/index/image/guarantee.png"
                             alt="" id="guarantee" style="width: 200px; height: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us end-->

    <!-- Testimonial start -->
    <div class="container-xxl py-6">
        <div class="container">
            <span #anmtn id="testimonial1" class="mb-4 text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="index-primary-color text-uppercase mb-2">Testimonials</h5>
                <h1 class="index-heading-color">What Our Clients Say</h1>
            </span>
            <div #anmtn id="testimonial2" class="row justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">

                    <c-carousel [dark]="true" [animate]="false" transition="crossfade" [interval]="2500">
                        <c-carousel-indicators></c-carousel-indicators>
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of testimonialSlides; index as i;" class="text-center">
                                <img [src]="slide.src"
                                     alt="{{slide.title}}"
                                     class=" align-self-start img-fluid mb-2"
                                     style="height: 1.0rem; width: auto; display: inline;" />
                                <p class="fs-4" style="display: inline;">&nbsp;{{ slide.title }}</p>
                                <hr class="w-25 mx-auto">
                                <h5>{{ slide.name }}</h5>
                                <span>{{ slide.location }}</span>
                                <br>
                                <br>
                                <br>
                            </c-carousel-item>

                        </c-carousel-inner>
                    </c-carousel>

                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial end -->
    <br><br><br><br><br><br><br>
    <mgm-footer></mgm-footer>
</div>
