<!-- Spinner Start -->
<!--		<div id="spinner"-->
<!--			 class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
<!--			<div class="spinner-grow text-primary" role="status"></div>-->
<!--		</div>-->
<!-- Spinner end -->
<div id="page-container">
    <mgm-header></mgm-header>

    <!-- Carousel start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/assets/index/image/one.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-4 text-light animated slideInDown">Mr Grass Master</h1>
                                    <p class="display-8">East Auckland garden maintenance specialists</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="/assets/index/image/two.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-4 text-light animated slideInDown">We're here to help</h1>
                                    <p class="display-8">get your outdoor areas looking great</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="/assets/index/image/three.jpg" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-4 text-light animated slideInDown">Giving you more time</h1>
                                    <p class="display-8">to enjoy doing what you love most</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon index-primary-background-color" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon index-primary-background-color" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--Carousel end-->


    <!--Facts start-->
    <div class="container-fluid facts py-6 pt-lg-0">
        <div class="container py-6 pt-lg-0">
            <div class="row gx-0">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!--                                <i class="fa fa-car text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Professionally Trained</h5>
                                <span class="index-font-color">Certified Landscape Horticulturalists</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!--                                <i class="fa fa-users text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Fully Insured</h5>
                                <span class="index-font-color">Full liability insurance</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square index-primary-background-color">
                                <!--                                <i class="fa fa-file-alt text-white"></i>-->
                            </div>
                            <div class="ps-4">
                                <h5 class="index-heading-color">Quality Workmanship</h5>
                                <span class="index-font-color">Service with integrity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Facts end-->


    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <div class="fadeInUp" data-wow-delay="0.1s" style="min-height: 450px;">
                            <iframe class="position-relative w-100 h-100"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115288.4172787173!2d174.89674264358936!3d-36.92204129439933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d4b65a6a3918b%3A0x5704a28d482bdf5e!2sEast%20Auckland%2C%20Golflands%2C%20Auckland%202013!5e0!3m2!1sen!2snz!4v1689739846967!5m2!1sen!2snz"
                                    frameborder="0" style="min-height: 450px; border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h5 class="index-primary-color text-uppercase mb-2">About Us</h5>
                        <h1 class="mb-4 index-heading-color">High quality services at a competitive price</h1>
                        <p class="index-font-color">We service all suburbs in and around south-east Auckland. We're so confident you'll be happy with
                            our services that all work done comes with a 100% customer satisfaction guarantee. </p>
                        <p class="mb-4 index-font-color">For regular services if you have a current price we can probably beat it!</p>
                        <div class="row g-2 mb-4 pb-2">
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Free quotes
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Expert advice
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Fully managed
                            </div>
                            <div class="col-sm-6 index-font-color">
                                <svg [cIcon]="icons.cilCheck" size="sm" title="List Icon"></svg>&nbsp;Pet friendly
                            </div>
                        </div>
                        <div class="row g-4">
                            <div class="col-sm-6">
                                <a class="btn py-3 px-5 index-button" aria-hidden="true" href="#contact">Contact us now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services start -->
    <div class="container-xxl my-6 py-6 mb-5" id="services">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h5 class="index-primary-color text-uppercase mb-2">Regular Services</h5>
                <h1 class="mb-4 index-heading-color">General Garden Maintenance</h1>
            </div>

            <div class="row g-4 justify-content-center" id="service-row-1">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Lawn mowing</h5>
                            <p class="index-font-color">A professional service that includes trimming edges and sweeping adjacent paths to keep your
                                property looking tidy.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Recommended every 2 weeks
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/mower.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Hedge Trimming</h5>
                            <p class="index-font-color">A well maintained hedge has a full and neat appearance. We offer a range of hedge trimming
                                services to keep your hedges looking smart.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Driveway access required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="assets/index/image/hedge.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Weeding</h5>
                            <p class="index-font-color">Whether it's weed matting, spraying or removal we can get rid of pesky weeds and prevent them
                                from returning.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Safe for pets
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/rake.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4 justify-content-center" id="service-row-2">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Unavailable</div>
                            <h5 class="mb-3 index-heading-color">Gutter Cleaning</h5>
                            <p class="index-font-color">Clogged gutters are unsightly and can cause water damage. We can get your gutters clean and
                                functioning to ensure water drains readily from your roof.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Roof access required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/gutter.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2 disabled" routerLink="/index" fragment="contact">
                                    Coming soon</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Unavailable</div>
                            <h5 class="mb-3 index-heading-color">Rubbish Removal</h5>
                            <p class="index-font-color">We remove all types of rubbish from compost and foliage to building materials and everything
                                in between.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Non-hazardous items only
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/gardenwaste.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2 disabled" routerLink="/index" fragment="contact">
                                    Coming soon
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block index-primary-background-color text-white fs-5 py-1 px-4 mb-4">Available</div>
                            <h5 class="mb-3 index-heading-color">Water Blasting</h5>
                            <p class="index-font-color">Water blasting removes moss and mould leaving surfaces looking clean and new again. We also
                                provide soft washing services.</p>
                            <ol class="breadcrumb justify-content-center mb-0">
                                <li class="breadcrumb-item small index-font-color">
                                    <i class="fa fa-calendar-alt text-primary me-2"></i>
                                    Hose outlet required
                                </li>
                            </ol>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="/assets/index/image/gardenwaste.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" routerLink="/index" fragment="contact">
                                    Enquire now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services end -->


            <!-- Contact start -->
            <div class="row justify-content-center" id="contact">
                <div class="col-lg-8 mb-0 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-primary text-center p-5">
                        <h1 class="mb-4">Contact Us Now</h1>
                        <form class="needs-validation" id="contact-form"
                              [formGroup]="contactForm">
                            <div class="row g-3">

                                <!-- first_name	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" id="first_name" placeholder="First Name" maxlength="50"
                                               formControlName="first_name"
                                               [ngClass]="first_name?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="first_name">First Name</label>
                                        <div class="custom-invalid-feedback" *ngIf="first_name?.errors && submitted">enter
                                            first name
                                        </div>
                                    </div>
                                </div>

                                <!-- last_name	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" id="last_name" placeholder="First Name" maxlength="50"
                                               formControlName="last_name"
                                               [ngClass]="last_name?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="last_name">Last Name</label>
                                        <div class="custom-invalid-feedback" *ngIf="last_name?.errors && submitted">enter
                                            last name
                                        </div>
                                    </div>
                                </div>

                                <!-- email	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" placeholder="Email" id="email" maxlength="50"
                                               formControlName="email"
                                               [ngClass]="email?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="email">Email</label>
                                        <div class="custom-invalid-feedback" *ngIf="email?.errors && submitted">enter
                                            email
                                        </div>
                                    </div>
                                </div>

                                <!-- phone	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="tel" placeholder="Phone" id="phone" maxlength="50"
                                               formControlName="phone"
                                               [ngClass]="phone?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="phone">Phone</label>
                                        <div class="custom-invalid-feedback" *ngIf="phone?.errors && submitted">enter phone
                                            number
                                        </div>
                                    </div>
                                </div>

                                <!-- address_line1	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" placeholder="Address Line 1" id="address_line1" name="phone"
                                               maxlength="60"
                                               formControlName="address_line1"
                                               [ngClass]="address_line1?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="address_line1">Number and road</label>
                                        <div class="custom-invalid-feedback" *ngIf="address_line1?.errors && submitted">
                                            enter number and road
                                        </div>
                                    </div>
                                </div>

                                <!-- address_line2	-->
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" placeholder="Address Line 2" id="address_line2" name="phone"
                                               maxlength="60"
                                               formControlName="address_line2"
                                               [ngClass]="address_line2?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
                                        <label for="address_line2">Suburb</label>
                                        <div class="custom-invalid-feedback" *ngIf="address_line2?.errors && submitted">
                                            enter suburb
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="city"
                                               placeholder="City" disabled>
                                        <label for="city">Auckland</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="country"
                                               placeholder="Country"
                                               disabled>
                                        <label for="country">New Zealand</label>
                                    </div>
                                </div>

                                <!-- message	-->
                                <div class="col-12">
                                    <div class="form-floating">
                      						<textarea class="form-control border-0" placeholder="Leave a message here"
                                                      id="message" maxlength="400"
                                                      formControlName="message"
                                                      [ngClass]="message?.errors && submitted ? 'form-control border-0 is-invalid' : 'form-control border-0'">
											</textarea>
                                        <label for="message">Message</label>
                                        <div class="custom-invalid-feedback" *ngIf="message?.errors && submitted">enter a
                                            message
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit" id="submit-button"
                                            (click)="submitForm()">Submit
                                    </button>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <re-captcha (resolved)="submitCaptcha($event)" #recaptcha [siteKey]="siteKey"></re-captcha>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact end -->


    <!-- Why Choose Us start-->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

                    <h5 class="index-primary-color text-uppercase mb-2">Why Choose Us</h5>
                    <h1 class="mb-4 index-heading-color">Old School Values</h1>
                    <p class="mb-5 index-font-color">We value integrity and set high standards for ourselves and our
                        suppliers. We utilise our experience from the public and private sector to do a great job every
                        time.
                    </p>
                    <div class="row gy-5 gx-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">All work is guaranteed</h5>
                            </div>
                            <span class="index-font-color">Do it right the first time, every time</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Extensive knowledge</h5>
                            </div>
                            <span class="index-font-color">Industry certified Landscaping and Horticulture specialists</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Environmentally friendly</h5>
                            </div>
                            <span class="index-font-color">Non-toxic weed control keeps pets safe</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square index-primary-background-color me-3">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <h5 class="mb-0 index-heading-color">Attention to detail</h5>
                            </div>
                            <span class="index-font-color">We take pride in exceeding our customers expectations</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100" src="/assets/index/image/chipper.jpg" alt=""
                             style="object-fit: cover;">
                        <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="/assets/index/image/guarantee.png"
                             alt="" id="guarantee" style="width: 200px; height: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us end-->

    <!-- Testimonial start -->
    <div class="container-xxl py-6">
        <div class="container">
            <span class="mb-4 text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h5 class="index-primary-color text-uppercase mb-2">Testimonials</h5>
                <h1 class="index-heading-color">What Our Clients Say</h1>
            </span>
            <div class="row justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">

                    <c-carousel [dark]="true" transition="crossfade" [wrap]="true">
                        <c-carousel-indicators></c-carousel-indicators>
                        <c-carousel-inner>
                            <c-carousel-item *ngFor="let slide of slides; index as i;" class="text-center">
                                <img [src]="slide.src"
                                    alt="{{slide.title}}"
                                    class=" align-self-start img-fluid mb-2"
                                    style="height: 1.0rem; width: auto; display: inline;" />
                                <p class="fs-4" style="display: inline;">&nbsp;{{slide.title}}</p>
                                <hr class="w-25 mx-auto">
                                    <h5>{{slide.name}}</h5>
                                <span>{{slide.location}}</span>
                                <br>
                                <br>
                                <br>
                            </c-carousel-item>

                        </c-carousel-inner>
                        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                    </c-carousel>

<!--                    <div id="carouselExampleDark" class="carousel carousel-dark slide">-->
<!--                        <div class="carousel-indicators">-->
<!--                            <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                            <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="1" aria-label="Slide 2"></button>-->
<!--                            <button type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide-to="2" aria-label="Slide 3"></button>-->
<!--                        </div>-->
<!--                        <div class="carousel-inner">-->
<!--                            <div class="carousel-item active" data-coreui-interval="10000">-->
<!--                                <div class="text-center">-->
<!--                                    <img src="/assets/index/image/quote1.png" alt="opening quote icon"-->
<!--                                         class="align-self-start img-fluid mb-2"-->
<!--                                         style="height: 1.0rem; width: auto; display: inline;">-->
<!--                                    <p class="fs-4" style="display: inline;">Aston and Mark did a great job cleaning up my-->
<!--                                        overgrown lawn which hadn't been mowed for months.</p>-->
<!--                                    <hr class="w-25 mx-auto">-->
<!--                                    <h5>Billy Brown</h5>-->
<!--                                    <span>Dannemora, Auckland</span>-->
<!--                                    <br>-->
<!--                                    <br>-->
<!--                                    <br>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="carousel-item" data-coreui-interval="2000">-->
<!--                                <div class="text-center">-->
<!--                                    <img src="/assets/index/image/quote1.png" alt="opening quote icon"-->
<!--                                         class="align-self-start img-fluid mb-2"-->
<!--                                         style="height: 1.0rem; width: auto; display: inline;">-->
<!--                                    <p class="fs-4" style=" display: inline;">The team did a great job landscaping my-->
<!--                                        development before it went to market.</p>-->
<!--                                    <hr class="w-25 mx-auto">-->
<!--                                    <h5>Kirsty Merriman</h5>-->
<!--                                    <span>Takanini, Auckland</span>-->
<!--                                    <br>-->
<!--                                    <br>-->
<!--                                    <br>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button class="carousel-control-prev" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide="prev">-->
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Previous</span>-->
<!--                        </button>-->
<!--                        <button class="carousel-control-next" type="button" data-coreui-target="#carouselExampleDark" data-coreui-slide="next">-->
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                            <span class="visually-hidden">Next</span>-->
<!--                        </button>-->
<!--                    </div>-->



                    <!--                    <owl-carousel-o [options]="customOptions">-->
                    <!--                        <ng-template carouselSlide>-->
                    <!--                            <div class="text-center">-->
                    <!--                                <img src="/assets/index/image/quote1.png" alt="opening quote icon"-->
                    <!--                                     class="align-self-start img-fluid mb-2"-->
                    <!--                                     style="height: 1.0rem; width: auto; display: inline;">-->
                    <!--                                <p class="fs-4" style=" display: inline;">Aston and Mark did a great job cleaning up my-->
                    <!--                                    overgrown lawn which hadn't been mowed for months.</p>-->
                    <!--                                <hr class="w-25 mx-auto">-->
                    <!--                                <h5>Billy Brown</h5>-->
                    <!--                                <span>Dannemora, Auckland</span>-->
                    <!--                            </div>-->
                    <!--                        </ng-template>-->

                    <!--                        <ng-template carouselSlide>-->
                    <!--                            <div class="text-center">-->
                    <!--                                <img src="/assets/index/image/quote1.png" alt="opening quote icon"-->
                    <!--                                     class="align-self-start img-fluid mb-2"-->
                    <!--                                     style="height: 1.0rem; width: auto; display: inline;">-->
                    <!--                                <p class="fs-4" style=" display: inline;">The team did a great job landscaping my-->
                    <!--                                    development before it went to market.</p>-->
                    <!--                                <hr class="w-25 mx-auto">-->
                    <!--                                <h5>Kirsty Merriman</h5>-->
                    <!--                                <span>Takanini, Auckland</span>-->
                    <!--                            </div>-->
                    <!--                        </ng-template>-->
                    <!--                    </owl-carousel-o>-->
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial end -->

    <mgm-footer></mgm-footer>
</div>
