// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

// custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

@media (max-width: 768px) {
  #header-carousel {
    position: relative;
    min-height: 450px;
  }

  #header-carousel-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
